html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #1f2937;
}

.drop-downs {
  display: flex;
  gap: 20px;
}

.drop-down {
  display: inline-block;
  position: relative;
}

.drop-down-toggle {
  font-size: 1.1rem;
  color: #fff;
  padding: 8px 16px;
  background-color: #64748b;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.drop-down-toggle:hover,
.drop-down.active .drop-down-toggle {
  background-color: #475569;
}

.drop-down-menu {
  list-style: none;
  min-width: max-content;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f1f5f9;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  margin: 0;
  position: absolute;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop-down.active .drop-down-menu {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
}

.drop-down-item {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
}

.drop-down-item:hover {
  background-color: #f1f5f9;
}
